.gallery-block {
    position: relative;
    overflow-x: hidden;
    width: 100%;

    margin-bottom: vw(72px, 375px);

    @media screen and (min-width: 526px) {
        margin-bottom: vw(72px, 744px);
    }

    @media screen and (min-width: 921px) {
        overflow: visible;
        margin-bottom: vw(105px);
    }

    @media screen and (min-width: 1441px) {
        margin-bottom: 105px;
    }

    &_title {
        font-weight: 900;
        line-height: 100%;
        
        font-size: vw(32px, 375px);
        letter-spacing: vw(-0.64px, 375px);
        margin-bottom: vw(32px, 375px);
        
        @media screen and (min-width: 526px) {
            font-size: vw(48px, 744px);
            letter-spacing: vw(-0.96px, 744px);
            margin-bottom: vw(48px, 744px);
        }

        @media screen and (min-width: 921px) {
            font-size: vw(48px);
            letter-spacing: vw(-0.96px);
            max-height: vw(82px);
            margin-bottom: vw(48px);
        }

        @media screen and (min-width: 1441px) {
            font-size: 48px;
            letter-spacing: -0.96px;
            max-height: 82px;
            margin-bottom: 48px;
        }
    }
    
    &_text {
        font-weight: 500;
        line-height: 120%;
        
        font-size: vw(16px, 375px);
        width: 100%;
        max-height: vw(125px, 375px);
        margin-bottom: vw(60px, 375px);

        @media screen and (min-width: 526px) {
            font-size: vw(24px, 744px);
            width: vw(442px, 744px);
            max-height: vw(191px, 744px);
            margin-bottom: vw(60px, 744px);
        }

        @media screen and (min-width: 921px) {
            font-size: vw(24px);
            width: vw(442px);
            max-height: vw(191px);
            margin-bottom: 0px;
        }

        @media screen and (min-width: 1441px) {
            font-size: 24px;
            width: 442px;
            max-height: 191px;
        }
    }
    
    &_gallery {
        margin-bottom: vw(24px, 375px);

        @media screen and (min-width: 526px) {
            margin-bottom: vw(24px, 744px);
        }

        @media screen and (min-width: 921px) {
            margin-bottom: 0px;
        }

        @media screen and (min-width: 1441px) {

        }
    }

    &_controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: vw(12px, 375px);

        @media screen and (min-width: 526px) {
            gap: vw(12px, 744px);
        }
        
        @media screen and (min-width: 921px) {
            display: none;
        }
    }
        
    &_control-button {
        background: #FFDE40;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        width: vw(48px, 375px);
        height: vw(48px, 375px);
        border-radius: vw(24px, 375px);

        transition: opacity 0.3s ease-in-out;

        @media screen and (min-width: 526px) {
            width: vw(48px, 744px);
            height: vw(48px, 744px);
            border-radius: vw(24px, 744px);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:active {
            opacity: 0.3;
        }
    }
        
    &_control-icon {
        
        width: vw(25.5px, 375px);
        height: vw(22.1px, 375px);

        @media screen and (min-width: 526px) {
            width: vw(25.5px, 744px);
            height: vw(22.1px, 744px);
        }

        &__left {
            transform: rotate(180deg);


            @media screen and (min-width: 526px) {

            }

            @media screen and (min-width: 921px) {

            }

            @media screen and (min-width: 1441px) {
                
            }
        }
    }

    &_decor {
        position: absolute;
        top: 0px;
        left: 0px;

        @media screen and (min-width: 526px) {

        }
    
        @media screen and (min-width: 921px) {
            
        }
    
        @media screen and (min-width: 1441px) {
            
        }

        &__1 {

            left: vw(224px, 375px);
            top: vw(264px, 375px);

            @media screen and (min-width: 526px) {
                left: vw(450px, 744px);
                top: vw(336px, 744px);
            }
        
            @media screen and (min-width: 921px) {
                right: auto;
                left: calc(50% + #{vw(284px)});
                top: vw(40px);
            }
        
            @media screen and (min-width: 1441px) {
                left: calc(50% + 284px);
                top: 40px;
            }

            img {
                width: vw(186px, 375px);
                height: vw(186px, 375px);

                @media screen and (min-width: 526px) {
                    width: vw(364px, 744px);
                    height: vw(364px, 744px);
                }
            
                @media screen and (min-width: 921px) {
                    width: vw(364px);
                    height: vw(364px);
                }
            
                @media screen and (min-width: 1441px) {
                    width: 364px;
                    height: 364px;
                }
            }
        }
        
        &__2 {
            display: none;
        
            @media screen and (min-width: 921px) {
                display: block;
                left: calc(50% - #{vw(710px)});
                top: vw(260px);
            }
        
            @media screen and (min-width: 1441px) {
                left: calc(50% - 710px);
                top: 260px;
            }

            img {

                @media screen and (min-width: 526px) {

                }
            
                @media screen and (min-width: 921px) {
                    width: vw(524px);
                    height: vw(592px);
                }
            
                @media screen and (min-width: 1441px) {
                    width: 524px;
                    height: 592px;
                }
            }
        }
        
        &__3 {
            display: none;
        
            @media screen and (min-width: 921px) {
                display: block;
                left: calc(50% + #{vw(126px)});
                top: vw(800px);
            }
        
            @media screen and (min-width: 1441px) {
                left: calc(50% + 126px);
                top: 800px;
            }

            img {

                @media screen and (min-width: 526px) {

                }
            
                @media screen and (min-width: 921px) {
                    width: vw(597px);
                    height: vw(540px);
                }
            
                @media screen and (min-width: 1441px) {
                    width: 597px;
                    height: 540px;
                }
            }
        }
    }
}

.gallery {
    overflow: hidden;
    overflow-x: auto;
    
    width: 100vw;
    transform: translateX(vw(-32px, 375px));

    @media screen and (min-width: 526px) {
        width: 100vw;
        transform: translateX(vw(-32px, 744px));
    }

    @media screen and (min-width: 921px) {
        width: auto;
        transform: none;
        overflow: visible;
    }

    @media screen and (min-width: 1441px) {
        
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &_track {
        width: max-content;
        display: flex;
        flex-direction: row;

        gap: vw(16px, 375px);
        padding: 0px vw(16px, 375px);

        @media screen and (min-width: 526px) {
            gap: vw(16px, 744px);
            padding: 0px vw(16px, 744px);
        }
    
        @media screen and (min-width: 921px) {
            flex-wrap: wrap;
            gap: vw(23px);
            width: vw(935px);
            transform: rotate(2deg) translateY(vw(-130px));
            margin-bottom: vw(180px);
            padding: 0px;
        }
    
        @media screen and (min-width: 1441px) {
            gap: 23px;
            width: 935px;
            transform: rotate(2deg) translateY(-130px);
            margin-bottom: 180px;
        }
    }
    
    &_image {


        @media screen and (min-width: 526px) {

        }
    
        @media screen and (min-width: 921px) {
            
        }
    
        @media screen and (min-width: 1441px) {
            
        }

        img {
            width: vw(343px, 375px);
            height: vw(343px, 375px);
            border-radius: vw(48px, 375px);
            
            @media screen and (min-width: 526px) {
                width: vw(712px, 744px);
                height: vw(712px, 744px);
                border-radius: vw(92px, 744px);
            }

            @media screen and (min-width: 921px) {
                width: vw(456px);
                height: vw(456px);
                border-radius: vw(64px);
            }

            @media screen and (min-width: 1441px) {
                width: 456px;
                height: 456px;
                border-radius: 64px;
            }
        }

        &:nth-child(2n-1) img {
            @media screen and (min-width: 921px) {
                transform: translateY(vw(210px));
            }

            @media screen and (min-width: 1441px) {
                transform: translateY(210px);
            }
        }
    }
}


@media screen and (min-width: 526px) {

}

@media screen and (min-width: 921px) {

}

@media screen and (min-width: 1441px) {
    
}