@font-face {
  font-family: "YandexText";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "YandexText";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YandexText";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: YandexText, sans-serif;
  color: #21201F;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.section {
  padding: 0px 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .section {
    padding: 0px 4.3010752688vw;
  }
}
@media screen and (min-width: 921px) {
  .section {
    padding: 0px calc(50% - 31.8055555556vw);
  }
}
@media screen and (min-width: 1441px) {
  .section {
    padding: 0px calc(50% - 458px);
  }
}

.button {
  background: #FFDE40;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 22px;
  height: 13.0666666667vw;
  border-radius: 6.6666666667vw;
  box-shadow: 0px 1.0666666667vw 17.0666666667vw 0px rgba(255, 222, 64, 0.59);
  font-size: 4.8vw;
}
@media screen and (min-width: 526px) {
  .button {
    height: 8.7365591398vw;
    border-radius: 4.435483871vw;
    box-shadow: 0px 0.5376344086vw 8.6021505376vw 0px rgba(255, 222, 64, 0.59);
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .button {
    height: 4.5138888889vw;
    border-radius: 2.2916666667vw;
    box-shadow: 0px 0.2777777778vw 4.4444444444vw 0px rgba(255, 222, 64, 0.59);
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    height: 65px;
    border-radius: 33px;
    box-shadow: 0px 4px 64px 0px rgba(255, 222, 64, 0.59);
    font-size: 24px;
  }
}

.hide {
  display: none;
}
@media screen and (max-width: 920px) {
  .hide-mob {
    display: none;
  }
}
@media screen and (min-width: 921px) {
  .hide-desk {
    display: none;
  }
}

.welcome-block {
  background: linear-gradient(180deg, rgba(238, 229, 255, 0) 0%, #FFF 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgba(255, 92, 77, 0.2) 0%, rgba(235, 70, 159, 0.2) 25%, rgba(131, 65, 239, 0.2) 72%, rgba(63, 104, 249, 0.2) 100%);
  margin-bottom: 80vw;
  padding-top: 8.5333333333vw;
  padding-bottom: 10.1333333333vw;
}
@media screen and (min-width: 526px) {
  .welcome-block {
    margin-bottom: 76.6129032258vw;
    padding-top: 4.3010752688vw;
    padding-bottom: 5.1075268817vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block {
    margin-bottom: 0px;
    padding-top: 8.6111111111vw;
    padding-bottom: 8.6111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block {
    padding-top: 124px;
    padding-bottom: 124px;
  }
}
.welcome-block_logo {
  position: relative;
  z-index: 1;
  width: 29.8666666667vw;
  height: 8.5333333333vw;
  margin-bottom: 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_logo {
    width: 23.6559139785vw;
    height: 6.7204301075vw;
    margin-bottom: 8.064516129vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_logo {
    width: 12.2222222222vw;
    height: 3.4722222222vw;
    margin-bottom: 4.1666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_logo {
    width: 176px;
    height: 50px;
    margin-bottom: 60px;
  }
}
.welcome-block_title {
  position: relative;
  font-weight: 900;
  line-height: 100%;
  z-index: 1;
  font-size: 9.6vw;
  letter-spacing: -0.192vw;
  margin-bottom: 9.3333333333vw;
  max-height: 26.1333333333vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_title {
    font-size: 9.6774193548vw;
    letter-spacing: -0.1935483871vw;
    margin-bottom: 6.4516129032vw;
    max-height: 26.3440860215vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_title {
    font-size: 5vw;
    letter-spacing: -0.1vw;
    margin-bottom: 3.3333333333vw;
    max-height: 13.6111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_title {
    font-size: 72px;
    letter-spacing: -1.44px;
    margin-bottom: 48px;
    max-height: 196px;
  }
}
.welcome-block_description {
  position: relative;
  z-index: 1;
  width: 82.9333333333vw;
  max-height: 15.7333333333vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_description {
    width: 62.5vw;
    max-height: 11.8279569892vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_description {
    width: 32.2916666667vw;
    margin-bottom: 3.0555555556vw;
    max-height: 6.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_description {
    width: 465px;
    margin-bottom: 44px;
    max-height: 88px;
  }
}
.welcome-block_description-text {
  font-weight: 500;
  line-height: 130%;
  font-size: 4.8vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_description-text {
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_description-text {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_description-text {
    font-size: 24px;
  }
}
.welcome-block_description-price {
  position: absolute;
  transform: translate3d(29.8666666667vw, -6.4vw, 0px);
}
@media screen and (min-width: 526px) {
  .welcome-block_description-price {
    transform: translate3d(19.8924731183vw, -4.435483871vw, 0px);
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_description-price {
    transform: translate3d(10.2777777778vw, -2.2916666667vw, 0px);
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_description-price {
    transform: translate3d(148px, -33px, 0px);
  }
}
.welcome-block_action {
  position: relative;
  position: fixed;
  z-index: 5;
  left: 8.5333333333vw;
  right: 8.5333333333vw;
  bottom: 6.4vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_action {
    left: 4.3010752688vw;
    right: 4.3010752688vw;
    bottom: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_action {
    position: static;
    width: 22.0833333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_action {
    width: 318px;
  }
}
.welcome-block_main-image {
  position: absolute;
  z-index: 0;
  transform: translateX(-7.2vw);
}
@media screen and (min-width: 526px) {
  .welcome-block_main-image {
    transform: none;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_main-image {
    top: 0px;
    left: calc(50% - 21.9444444444vw);
    top: -8.125vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_main-image {
    left: calc(50% - 316px);
    top: -117px;
  }
}
.welcome-block_main-image img {
  display: block;
  margin: 0px auto;
  width: 94.4vw;
  height: 82.1333333333vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_main-image img {
    width: 83.3333333333vw;
    height: 72.5806451613vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_main-image img {
    display: inline;
    vertical-align: bottom;
    margin: 0px;
    width: 67.1527777778vw;
    height: 64.0972222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_main-image img {
    width: 967px;
    height: 923px;
  }
}
.welcome-block_text-image {
  position: absolute;
  top: 0px;
  z-index: 0;
  animation: rotate 10s linear 0s infinite;
  left: 27.9569892473vw;
  top: 118.6827956989vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_text-image {
    left: 27.5537634409vw;
    top: 100vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_text-image {
    left: calc(50% + 3.5416666667vw);
    top: 27.3611111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_text-image {
    left: calc(50% + 51px);
    top: 394px;
  }
}
.welcome-block_text-image img {
  vertical-align: bottom;
  width: 22.6666666667vw;
  height: 22.6666666667vw;
}
@media screen and (min-width: 526px) {
  .welcome-block_text-image img {
    width: 20.564516129vw;
    height: 20.564516129vw;
  }
}
@media screen and (min-width: 921px) {
  .welcome-block_text-image img {
    width: 14.4444444444vw;
    height: 14.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .welcome-block_text-image img {
    width: 208px;
    height: 208px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.price-tag {
  display: flex;
}
.price-tag_new {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  font-weight: 500;
  line-height: 120%;
  z-index: 1;
  width: 14.9333333333vw;
  height: 6.1333333333vw;
  border-radius: 3.2vw;
  font-size: 4.8vw;
}
@media screen and (min-width: 526px) {
  .price-tag_new {
    width: 10.6182795699vw;
    height: 4.435483871vw;
    border-radius: 2.2849462366vw;
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .price-tag_new {
    width: 5.4861111111vw;
    height: 2.2916666667vw;
    border-radius: 1.1805555556vw;
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .price-tag_new {
    width: 79px;
    height: 33px;
    border-radius: 17px;
    font-size: 24px;
  }
}
.price-tag_old {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  z-index: 0;
  color: #808080;
  text-decoration: line-through;
  white-space: nowrap;
  font-weight: 500;
  line-height: 120%;
  transform: translateX(-7.7333333333vw);
  max-width: 20vw;
  height: 6.1333333333vw;
  padding: 0px 1.3333333333vw 0px 8.8vw;
  border-radius: 3.2vw;
  font-size: 3.4666666667vw;
}
@media screen and (min-width: 526px) {
  .price-tag_old {
    max-width: 15.4569892473vw;
    height: 4.435483871vw;
    padding: 0px 1.6129032258vw 0px 7.6612903226vw;
    border-radius: 2.2849462366vw;
    transform: translateX(-6.0483870968vw);
    font-size: 2.1621621622vw;
  }
}
@media screen and (min-width: 921px) {
  .price-tag_old {
    max-width: 7.9861111111vw;
    height: 2.2916666667vw;
    padding: 0px 0.8333333333vw 0px 3.9583333333vw;
    border-radius: 1.1805555556vw;
    transform: translateX(-3.125vw);
    font-size: 1.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .price-tag_old {
    max-width: 115px;
    height: 33px;
    padding: 0px 12px 0px 57px;
    border-radius: 17px;
    transform: translateX(-45px);
    font-size: 16px;
  }
}

.advantages-block {
  margin-bottom: 19.2vw;
}
@media screen and (min-width: 526px) {
  .advantages-block {
    margin-bottom: 17.2043010753vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block {
    margin-bottom: 8.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block {
    margin-bottom: 128px;
  }
}
.advantages-block_title {
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.12px;
  font-size: 8.5333333333vw;
  max-height: 14.6666666667vw;
  margin-bottom: 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .advantages-block_title {
    font-size: 7.5268817204vw;
    max-height: 12.9032258065vw;
    margin-bottom: 6.4516129032vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block_title {
    font-size: 3.8888888889vw;
    max-height: 6.6666666667vw;
    margin-bottom: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block_title {
    font-size: 56px;
    max-height: 96px;
    margin-bottom: 48px;
  }
}
.advantages-block_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6.4vw;
}
@media screen and (min-width: 526px) {
  .advantages-block_cards {
    gap: 8.1989247312vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block_cards {
    gap: 4.2361111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block_cards {
    gap: 61px;
  }
}
.advantages-block_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 82.9333333333vw;
  gap: 4.2666666667vw;
}
@media screen and (min-width: 526px) {
  .advantages-block_card {
    width: 53.7634408602vw;
    gap: 2.1505376344vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block_card {
    flex-direction: column;
    align-items: flex-start;
    width: 27.7777777778vw;
    gap: 1.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block_card {
    width: 400px;
    gap: 16px;
  }
}
.advantages-block_card-icon {
  min-width: 22.1333333333vw;
  max-width: 22.1333333333vw;
  min-height: 22.1333333333vw;
  max-height: 22.1333333333vw;
}
@media screen and (min-width: 526px) {
  .advantages-block_card-icon {
    max-width: none;
    min-width: 0px;
    min-height: 11.1559139785vw;
    max-height: 11.1559139785vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block_card-icon {
    min-height: 5.7638888889vw;
    max-height: 5.7638888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block_card-icon {
    min-height: 83px;
    max-height: 83px;
  }
}
.advantages-block_card-text {
  font-weight: 500;
  line-height: 120%;
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 526px) {
  .advantages-block_card-text {
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .advantages-block_card-text {
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .advantages-block_card-text {
    font-size: 24px;
  }
}

.gallery-block {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 19.2vw;
}
@media screen and (min-width: 526px) {
  .gallery-block {
    margin-bottom: 9.6774193548vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block {
    overflow: visible;
    margin-bottom: 7.2916666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block {
    margin-bottom: 105px;
  }
}
.gallery-block_title {
  font-weight: 900;
  line-height: 100%;
  font-size: 8.5333333333vw;
  letter-spacing: -0.1706666667vw;
  margin-bottom: 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_title {
    font-size: 6.4516129032vw;
    letter-spacing: -0.1290322581vw;
    margin-bottom: 6.4516129032vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_title {
    font-size: 3.3333333333vw;
    letter-spacing: -0.0666666667vw;
    max-height: 5.6944444444vw;
    margin-bottom: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_title {
    font-size: 48px;
    letter-spacing: -0.96px;
    max-height: 82px;
    margin-bottom: 48px;
  }
}
.gallery-block_text {
  font-weight: 500;
  line-height: 120%;
  font-size: 4.2666666667vw;
  width: 100%;
  max-height: 33.3333333333vw;
  margin-bottom: 16vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_text {
    font-size: 3.2258064516vw;
    width: 59.4086021505vw;
    max-height: 25.6720430108vw;
    margin-bottom: 8.064516129vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_text {
    font-size: 1.6666666667vw;
    width: 30.6944444444vw;
    max-height: 13.2638888889vw;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_text {
    font-size: 24px;
    width: 442px;
    max-height: 191px;
  }
}
.gallery-block_gallery {
  margin-bottom: 6.4vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_gallery {
    margin-bottom: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_gallery {
    margin-bottom: 0px;
  }
}
.gallery-block_controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.2vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_controls {
    gap: 1.6129032258vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_controls {
    display: none;
  }
}
.gallery-block_control-button {
  background: #FFDE40;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 12.8vw;
  height: 12.8vw;
  border-radius: 6.4vw;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (min-width: 526px) {
  .gallery-block_control-button {
    width: 6.4516129032vw;
    height: 6.4516129032vw;
    border-radius: 3.2258064516vw;
  }
}
.gallery-block_control-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.gallery-block_control-button:active {
  opacity: 0.3;
}
.gallery-block_control-icon {
  width: 6.8vw;
  height: 5.8933333333vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_control-icon {
    width: 3.4274193548vw;
    height: 2.9704301075vw;
  }
}
.gallery-block_control-icon__left {
  transform: rotate(180deg);
}
.gallery-block_decor {
  position: absolute;
  top: 0px;
  left: 0px;
}
.gallery-block_decor__1 {
  left: 59.7333333333vw;
  top: 70.4vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_decor__1 {
    left: 60.4838709677vw;
    top: 45.1612903226vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__1 {
    right: auto;
    left: calc(50% + 19.7222222222vw);
    top: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__1 {
    left: calc(50% + 284px);
    top: 40px;
  }
}
.gallery-block_decor__1 img {
  width: 49.6vw;
  height: 49.6vw;
}
@media screen and (min-width: 526px) {
  .gallery-block_decor__1 img {
    width: 48.9247311828vw;
    height: 48.9247311828vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__1 img {
    width: 25.2777777778vw;
    height: 25.2777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__1 img {
    width: 364px;
    height: 364px;
  }
}
.gallery-block_decor__2 {
  display: none;
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__2 {
    display: block;
    left: calc(50% - 49.3055555556vw);
    top: 18.0555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__2 {
    left: calc(50% - 710px);
    top: 260px;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__2 img {
    width: 36.3888888889vw;
    height: 41.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__2 img {
    width: 524px;
    height: 592px;
  }
}
.gallery-block_decor__3 {
  display: none;
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__3 {
    display: block;
    left: calc(50% + 8.75vw);
    top: 55.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__3 {
    left: calc(50% + 126px);
    top: 800px;
  }
}
@media screen and (min-width: 921px) {
  .gallery-block_decor__3 img {
    width: 41.4583333333vw;
    height: 37.5vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery-block_decor__3 img {
    width: 597px;
    height: 540px;
  }
}

.gallery {
  overflow: hidden;
  overflow-x: auto;
  width: 100vw;
  transform: translateX(-8.5333333333vw);
}
@media screen and (min-width: 526px) {
  .gallery {
    width: 100vw;
    transform: translateX(-4.3010752688vw);
  }
}
@media screen and (min-width: 921px) {
  .gallery {
    width: auto;
    transform: none;
    overflow: visible;
  }
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery_track {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 4.2666666667vw;
  padding: 0px 4.2666666667vw;
}
@media screen and (min-width: 526px) {
  .gallery_track {
    gap: 2.1505376344vw;
    padding: 0px 2.1505376344vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery_track {
    flex-wrap: wrap;
    gap: 1.5972222222vw;
    width: 64.9305555556vw;
    transform: rotate(2deg) translateY(-9.0277777778vw);
    margin-bottom: 12.5vw;
    padding: 0px;
  }
}
@media screen and (min-width: 1441px) {
  .gallery_track {
    gap: 23px;
    width: 935px;
    transform: rotate(2deg) translateY(-130px);
    margin-bottom: 180px;
  }
}
.gallery_image img {
  width: 91.4666666667vw;
  height: 91.4666666667vw;
  border-radius: 12.8vw;
}
@media screen and (min-width: 526px) {
  .gallery_image img {
    width: 95.6989247312vw;
    height: 95.6989247312vw;
    border-radius: 12.3655913978vw;
  }
}
@media screen and (min-width: 921px) {
  .gallery_image img {
    width: 31.6666666667vw;
    height: 31.6666666667vw;
    border-radius: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .gallery_image img {
    width: 456px;
    height: 456px;
    border-radius: 64px;
  }
}
@media screen and (min-width: 921px) {
  .gallery_image:nth-child(2n-1) img {
    transform: translateY(14.5833333333vw);
  }
}
@media screen and (min-width: 1441px) {
  .gallery_image:nth-child(2n-1) img {
    transform: translateY(210px);
  }
}

.offer-block-info {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info {
    margin-bottom: 17.2043010753vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info {
    flex-direction: row;
    margin-bottom: 8.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info {
    margin-bottom: 128px;
  }
}
.offer-block-info_content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_content {
    gap: 6.4516129032vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_content {
    gap: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_content {
    gap: 48px;
  }
}
.offer-block-info_content__action {
  padding-top: 101.3333333333vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_content__action {
    padding-top: 86.0215053763vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_content__action {
    padding-top: 0px;
    padding-left: calc(50% + 1.25vw);
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_content__action {
    padding-left: calc(50% + 18px);
  }
}
.offer-block-info_content-title {
  font-weight: 900;
  line-height: 100%;
  max-height: 40.2666666667vw;
  letter-spacing: -0.1706666667vw;
  font-size: 8.5333333333vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_content-title {
    width: 54.7043010753vw;
    max-height: 30.376344086vw;
    letter-spacing: -0.1290322581vw;
    font-size: 6.4516129032vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_content-title {
    width: 28.2638888889vw;
    max-height: 15.6944444444vw;
    letter-spacing: -0.0666666667vw;
    font-size: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_content-title {
    width: 407px;
    max-height: 226px;
    letter-spacing: -0.96px;
    font-size: 48px;
  }
}
.offer-block-info_content-text {
  font-weight: 500;
  line-height: 120%;
  max-height: 28.2666666667vw;
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_content-text {
    width: 56.3172043011vw;
    max-height: 21.7741935484vw;
    font-size: 3.2258064516vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_content-text {
    width: 29.0972222222vw;
    max-height: 11.25vw;
    font-size: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_content-text {
    width: 419px;
    max-height: 162px;
    font-size: 24px;
  }
}
.offer-block-info_img {
  display: none;
}
@media screen and (min-width: 921px) {
  .offer-block-info_img {
    display: block;
    position: absolute;
    top: -16.7361111111vw;
    left: calc(50% - 10.3472222222vw);
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img {
    top: -241px;
    left: calc(50% - 149px);
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_img img {
    width: 63.4722222222vw;
    height: 62.0138888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img img {
    width: 914px;
    height: 893px;
  }
}
.offer-block-info_img__action {
  display: block;
  position: absolute;
  left: 0px;
  top: 10.1333333333vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_img__action {
    top: -16.1290322581vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_img__action {
    top: -9.5138888889vw;
    left: calc(50% - 48.8888888889vw);
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img__action {
    top: -137px;
    left: calc(50% - 704px);
  }
}
.offer-block-info_img__action img {
  width: 100vw;
  height: 109.8666666667vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_img__action img {
    width: 100vw;
    height: 109.811827957vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_img__action img {
    width: 54.7222222222vw;
    height: 51.3194444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img__action img {
    width: 788px;
    height: 739px;
  }
}
.offer-block-info_img-text {
  position: absolute;
  overflow: hidden;
  top: 3.2vw;
  left: 2.1333333333vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_img-text {
    top: -13.4408602151vw;
    left: 2.0161290323vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_img-text {
    top: -4.5138888889vw;
    left: calc(50% - 38.8888888889vw);
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img-text {
    top: -65px;
    left: calc(50% - 560px);
  }
}
.offer-block-info_img-text img {
  animation: rotate 10s linear 0s infinite;
  width: 96vw;
  height: 96vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_img-text img {
    width: 96.2365591398vw;
    height: 96.2365591398vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_img-text img {
    width: 37.4305555556vw;
    height: 37.4305555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_img-text img {
    width: 539px;
    height: 539px;
  }
}
.offer-block-info_content-action {
  width: 100%;
  margin-bottom: 19.2vw;
}
@media screen and (min-width: 526px) {
  .offer-block-info_content-action {
    margin-bottom: 9.6774193548vw;
  }
}
@media screen and (min-width: 921px) {
  .offer-block-info_content-action {
    margin-bottom: 0px;
    width: 19.5138888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .offer-block-info_content-action {
    width: 281px;
  }
}

.footer {
  padding-bottom: 28.8vw;
}
@media screen and (min-width: 526px) {
  .footer {
    padding-bottom: 17.2043010753vw;
  }
}
@media screen and (min-width: 921px) {
  .footer {
    padding-bottom: 8.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .footer {
    padding-bottom: 128px;
  }
}
.footer_text {
  color: #C5C5C5;
  font-weight: 400;
  line-height: 120%;
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 526px) {
  .footer_text {
    font-size: 1.747311828vw;
  }
}
@media screen and (min-width: 921px) {
  .footer_text {
    font-size: 0.9027777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .footer_text {
    font-size: 13px;
  }
}
.footer_text-link {
  color: inherit;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */